:root {
  --primaryColor: #030a41;
  --progressBgColor: #9899d2;
  --progressThumbColor: #ab3681;
  --lightColor: rgb(245, 235, 245);
  --borderRadius: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 24px 0;
  color: var(--lightColor);
  background: var(--progressBgColor) url("../assets/img/bg.jpg") center / cover no-repeat;
  background-blend-mode: hard-light;
  backdrop-filter: blur(4px);
}

.hidden {
  display: none;
}

.title {
  display: block;
  line-height: 1.3;
  text-align: center;
}

/* Player */
.player {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: stretch;
  justify-content: space-between;
  width: 90%;
  max-width: 360px;
  padding: 24px;
  margin: auto;
  color: var(--lightColor);
  background-color: var(--primaryColor);
  border-radius: var(--borderRadius);
}

.player__cover {
  display: flex;
  gap: 7%;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: calc(100% + 40px);
  overflow: hidden;
}

.player__img-wrapper {
  display: flex;
  flex-shrink: 0;
  width: 70%;
  height: auto;
  border-radius: var(--borderRadius);
}

.player__img-wrapper:nth-child(2) {
  padding: 4px;
}

.player__img-wrapper:first-child,
.player__img-wrapper:last-child {
  flex-shrink: 0;
  width: 50%;
  height: auto;
  background-color: var(--lightColor);
}

.player__img-wrapper:first-child {
  align-self: flex-start;
}

.player__img-wrapper:last-child {
  align-self: flex-end;
}

.player__imgNext,
.player__imgPrev,
.player__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

.player__time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Input slider */
.player__progressBar {
  --progress: 0%;
  width: 100%;
  height: 7px;
  margin-bottom: 12px;
  appearance: none;
  cursor: pointer;
  background: linear-gradient(to right, var(--progressThumbColor) var(--progress), var(--progressThumbColor) var(--progress), var(--progressBgColor) var(--progress), var(--progressBgColor) 100%);
  border: none;
  border-radius: 8px;
  outline: none;
}

.player__progressBar::-webkit-slider-thumb {
  width: 8px;
  height: 16px;
  appearance: none;
  background: var(--progressThumbColor);
  border-radius: 4px;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 75%);
}

.player__progressBar::-moz-range-thumb {
  width: 10px;
  height: 10px;
  appearance: none;
  background: var(--progressThumbColor);
  border-radius: 4px;
}
/* Input slider */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: var(--lightColor);
  border-radius: 4px;
}

.icon {
  display: block;
  width: auto;
  height: 32px;
  color: var(--lightColor);
  pointer-events: none;
}
